// GENERALS
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none; 
}

body {
   font-family: $font_stack1;
   font-family: $font_stack2;
   background-color: $secondary_color;
}

// TITLE + TEXT 
.it-title-big{
   font-weight: 800;
   font-size: 2em;
}

.it-title-medium{
   font-weight: 400;
   font-size: 1.2em;
}

.it-title-small{
   font-weight: 600;
   font-size: 1em;
}

.it-text-info{
   font-size: 12px;
   font-weight: 300;
   margin-bottom: 10px;
}

// BUTTONS

.it-btn{
   margin-top: 20px;

   button{
      background-color: $secondary_color;
      outline: none;
      border: none;
      color: #fff;
      border-radius: 10px;
      padding: 10px;
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover{
         background: $primary_color;
      }
   }
}