// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// importing all parts
@import './variables';
@import './mixins.scss';
@import './generals';

@media screen and (min-width: 1400px) {
   .container {
      width: calc(100vw - 100px);
      max-width: calc(100vw - 100px);
      margin: 0 auto;
   }
}