// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Fontawesome
@import '~font-awesome/scss/font-awesome';

// importing all parts
@import './variables';
@import './mixins.scss';
@import './generals';

.container {
   width: calc(100vw - 50px);
   max-width: calc(100vw - 50px);
   margin: 0 auto;
}

// @media screen and (min-width: 1000px) {
   
// }