.container{
   h5{
      margin: 20px 0px 0px 0px;
      color: #fff;
   }

   .it-dashboard-info{
      width: 100%;
      margin-top: 20px;

      a {
         color: transparent;
         padding: 10px;
      }

      .it-dashboard-top{
         display: flex;
         justify-content: space-around;

         .it-dashboard-box{
            width: 220px;
            height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #fff;
            position: relative;
            bottom: 0;
            opacity: 0.8;
            cursor: pointer;
            /*glass effect*/
            background: rgba(255, 255, 255, 0.16);
            border-radius: 6px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(3.4px);
            -webkit-backdrop-filter: blur(3.4px);
            border: 1px solid rgba(255, 255, 255, 0.28);
            /*shadow*/
            -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75); 
            box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);

            transition: all 0.5s;

            &:hover{
               opacity: 1;
               bottom: 15px;
               -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75); 
               box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
            }

            .it-dash-icon{
               font-size: 50px;
               color: $primary_color;
               margin-bottom: 10px;
            }
         }
      }

      .line-horizontal{
         width: 30%;
         height: 3px;
         background-color: $primary_color;
         border-radius: 6px;
         margin: 30px auto;
      }

      .it-dashboard-bottom{
         display: flex;
         justify-content: center;
         .it-dash-bottom-left,
         .it-dash-bottom-right{
            width: 50%;
            height: 290px;
            overflow: auto;
            padding: 30px;
            margin: 0px 10px 30px 0px;
            opacity: 0.8;
            /*glass effect*/
            background: rgba(255, 255, 255, 0.16);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(3.4px);
            -webkit-backdrop-filter: blur(3.4px);
            border: 1px solid rgba(255, 255, 255, 0.28);

            .it-title-small{
               color: $primary_color;
               margin: 0px 0px 20px 0px;
            }

            p{
               padding: 20px;
               margin-bottom: 20px;
               cursor: pointer;
               /*glass effect*/
               background: rgba(255, 255, 255, 0.41);
               border-radius: 16px;
               box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
               backdrop-filter: blur(20px);
               -webkit-backdrop-filter: blur(20px);
               border: 1px solid rgba(255, 255, 255, 0.27);

            }

            &:hover{
               opacity: 1;
            }
         }
         
         // SCROLLBAR
         /* width */
         ::-webkit-scrollbar {
            width: 3px;
            border-radius: 20px;
         }
         /* Track */
         ::-webkit-scrollbar-track {
            background: none; 
         }
         /* Handle */
         ::-webkit-scrollbar-thumb {
            background: $primary_color; 
         }
         /* Handle on hover */
         ::-webkit-scrollbar-thumb:hover {
            cursor: pointer; 
         }
      }
   }

}