.white-wrap-msg{
   background-color: #fff;
   height: 85%;
   padding: 20px;
   border-radius: 30px;

   .wrap-content-msg{
      display: flex;
      justify-content: space-between;

      .wrap-secondary-msg{
         background-color: $secondary_color;
         width: 60%;
         padding: 20px;
         color: white;
         border-radius: 30px;
      }

   }

}
