.white-wrap-rvu{
   // background-color: #fff;
   height: calc(100vh - 95px);
   padding: 20px;
   border-radius: 30px;

   .circle-avatar-rvu{
      margin-left: 30px;
      width: 100px;
      height: 100px;
      background-color: $primary_color;
      border-radius: 50%;
   }
   .wrap-secondary-rvu{
      background: rgba(255, 255, 255, 0.16) !important;
      border-radius: 16px !important;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
      backdrop-filter: blur(3.4px) !important;
      -webkit-backdrop-filter: blur(3.4px) !important;
      border: 1px solid rgba(255, 255, 255, 0.28) !important;
      width:80%;
      padding: 20px;
      color: white;
      border-radius: 30px;
   }

}