.white-wrap-rvu{
   background-color: #fff;
   height: calc(100vh - 95px);
   padding: 20px;
   border-radius: 30px;

   .circle-avatar-rvu{
         margin-left: 30px;
         width: 100px;
         height: 100px;
         background-color: $primary_color;
         border-radius: 50%;
   }
   .wrap-secondary-rvu{
         background-color: $secondary_color;
         width:80%;
         padding: 20px;
         color: white;
         border-radius: 30px;
   }

}