main{
   background-color: $secondary_color;
   height: calc(100vh - 74px);

   .white-wrapper-show{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      // background-color: #fff;
      height: calc(100vh - 95px);
      padding: 20px;
      border-radius: 30px;

      .avatar-circle-show{
         width: 200px;
         height: 200px;
         margin: 30px;
         border-radius: 50%;
         background-color: $primary_color;
      }
      .data-wrapper-show{
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         text-align: center;
         padding: 20px;
         background: rgba(255, 255, 255, 0.16) !important;
         border-radius: 16px !important;
         box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
         backdrop-filter: blur(3.4px) !important;
         -webkit-backdrop-filter: blur(3.4px) !important;
         border: 1px solid rgba(255, 255, 255, 0.28) !important;
         color: white;
         width: 50%;
         height: 450px;
         overflow: scroll;

         .wrap-text-show{
            color: white;
            width: 90%;
         }
      }
   }

}